---
---
@import 'form-elements';

/*----------------------most of this from this persons css reset--------https://elad.medium.com/the-new-css-reset-53f41f13282e----------------------------------------------*/
/*------------------------------https://elad.medium.com/the-new-css-reset-53f41f13282e----------------------------------------------*/
/* 
    Reset all the "User-Agent-Stylesheet" styles, 
    except for the 'display' property 
*/
* {
    all: unset;
    display: revert;
}
body{font-size:20px;}

/* works on every element except for content elements */
*:not(iframe, canvas, img, svg, video):not(svg *) {    
    all: unset;    
    display: revert;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {    
    all: unset;    
    display: revert;
}

*,
*::before,
*::after {    
    box-sizing: border-box;
}

/* For images to not be able to exceed their container */
img {    
    max-width: 100%;
}
